$primaryColor: rgba(2, 130, 249, 1);
$bgMain: rgba(28, 28, 28, 1);
$bgFooter: rgba(48, 48, 48, 1);
$textFooter: rgba(121, 121, 121, 1);
$white: white;
$black: #000000;
$success: #55ba59;
$text-comic: #003f5e;
$text-secondary-comic: #00a9d9;
$text-parag: #555555;
$success-light: #b4f27c;
$bg-details: #f6f6f6;
$border-details: #e3e3e3;
$text-slider:#9F9F9F;
